build/
install/
log/
artifacts/*
!artifacts/raw/
!artifacts/raw/.gitkeep
!artifacts/studies/
!artifacts/studies/.gitkeep

__pycache__/
*.pyc
.pytest_cache/
.venv/
/metadata/
/mav.parm
/mav.tlog
/mav.tlog.raw
